.menu {
  position: relative;
  display: flex;
  height: fit-content;

  align-self: end;
}
.mobile-menu .menu-list {
  display: none;
}
.mobile-menu {
  display: none;
}

.menu-list {
  width: 12rem;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: start;
  justify-content: start;
  flex-direction: column;
}
@media (max-width: 930px) {
  .mobile-menu {
    display: flex;
    width: 8rem;
  }

  .mobile-menu .menu-list {
    display: flex;
    flex-direction: row;
    justify-content: end;
  }
  .menu-list {
    display: none;
  }

  .mobile-menu .menu-list {
    gap: .75rem;
  }

  .mobile-menu .menu-list li {
    width: 40%;
    aspect-ratio: 1 / 1;
    padding: .5rem;
    margin-block: 0;
    box-sizing: border-box;

    transition: all 0.5s ease;
  }

  .mobile-menu .menu-list li:hover {
    outline: 2px solid white;
    border-radius: 2rem;
  }
}

.menu-list li {
  width: 40%;
  aspect-ratio: 1 / 1;
  padding: 1rem;
  margin-block: 0.5rem;
  box-sizing: border-box;

  transition: all 0.5s ease;
}
.menu-list li:hover {
  outline: 2px solid white;
  border-radius: 2rem;
}

.menu-item {
  width: 100%;
  height: auto; /* Ensure height scales with aspect ratio */
}

.menu-list .active {
  outline: 2px solid white;
  border-radius: 2rem;
}
