.son-el {
  font-family: var(--ff-secondary);
  font-style: var(--ff-secondary-italic);
  font-weight: var(--ff-secondary-bold);
}
.about-text-container {
  width: 100%;
  max-height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-top: 4rem;
}
@media (max-width: 1024px) {
  .about-text-container {
    align-items: flex-start;
  }
}
.about-text {
  text-align: right;
  padding-right: 4rem;
  font-size: 3.6vw;
}

@media (max-width: 907px) {
  .about-text-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .about-text {
    text-align: center;
    padding: 0;
    font-size: 1.8rem;
  }
}
