.son-el {
  font-family: var(--ff-secondary);
}
.about-text-container {
  width: 25rem;
  max-height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  align-self: end;
}
@media (max-width: 930px) {
  .about-text-container {
    justify-content: center;
  }
}
.about-text {
  display: flex;
  flex-direction: column;
  text-align: right;
  font-size: 2rem;
  align-items: flex-end;
}
@media(max-width: 930px) {
  .about-text {
    align-items: center;
  }

  .about-text > .professions * {
    text-align: center;
  }
}
.about-text p {
  width: 100%;
  text-align: right;
}

.professionContainer {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.3s ease;
  justify-items: end;
}

@media (max-width: 800px) {
  .professionContainer {
    justify-items: center;
  }
}

.professionContainer_inner {
  overflow: hidden;
  padding: 0.2rem;
  display: inline-block;
  max-width: 100%;
}

.professionContainer.open {
  grid-template-rows: 1fr;

  margin-bottom: 1rem
}

@media (max-width: 800px) {
  .professionContainer_inner {
    max-width: 50%;
  }
}

.professionContainer_inner > p {
  max-width: max-content;
  text-align: right;
  font-size: 2rem;
  font-style: italic;
}

@media (max-width: 800px) {
  .professionContainer_inner > p {
    text-align: center;
    font-size: 1rem;
  }
}

.professionTitle {
  width: fit-content;
  align-self: flex-end;
  cursor: pointer;
  text-transform: uppercase;
}
@media (max-width: 800px) {
  .professionTitle {
    align-self: center;
  }
}

.professionTitle:hover {
  transform: scale(0.98);
  transition: transform 0.2s ease-in-out;
}

.professionTitle > img {
  display: inline;
  margin-left: 0.8rem;
}

.profession-button {
  max-width: 15px;
}

.professions {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

@media (max-width: 800px) {
  .professions {
    align-items: center;
  }
}


.contact-details {
  font-family: var(--ff-secondary);
  font-size: .75em;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease-in-out;
}
.contact-details:hover {
  transform: scale(0.98);
}
@media (max-width: 800px) {
  .contact-details {
    font-size: 1.5rem;
  }
}

.contact-link {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.about-separator {
  line-height: 0;
  margin-bottom: 3rem;
}
