.home-face-image {
    width: 35%;
    margin: 0 2.5rem 7.5rem 2.5rem;
}
@media (max-width: 930px) {
    .home-face-image {
        margin: 0 2.5rem 2.5rem 2.5rem;
    }
}
@media (max-height: 630px) {
    .home-face-image {
        margin: 0 2.5rem 1.5rem 2.5rem;
    }
}