/* .widget-container {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background-color: var(--clr-secondary);
  border: 3px solid white;
  color: var(--clr-main);
  padding: 1.5rem;
  border-radius: var(--br-size);
  font-size: 0.9vw;
}
@media (max-width: 907px) {
  .widget-container.open {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: var(--image-default-size);
    border-radius: var(--br-size);
    overflow: hidden;
  }
}
@media (max-width: 907px) {
  .widget-container {
    font-size: 0.7rem;
  }
} */

.widget-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.widget-content {
  background-color: var(--clr-secondary);
  border: 3px solid white;
  color: var(--clr-main);
  padding: 2rem;
  border-radius: var(--br-size);
  font-size: .9rem;
  font-weight: 300;
  line-height: 1.2;
  text-align: center;
  width: 26rem;
}

.widget-tech {
  margin-block: 0.5rem;
}

.widget-description {
  margin-top: 2rem;
}

.widget-link {
  margin-top: 2rem;
  border: 1px solid var(--clr-main);
  border-radius: var(--br-size);
  padding: 0.5rem 1rem;
  transition: background-color 0.3s, color 0.3s;
}
.widget-link:hover {
  background-color: var(--clr-main);
  color: var(--clr-secondary);
}

/* .widget-container.open {
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
} */
