.son-el {
  font-family: var(--ff-secondary);
  font-style: var(--ff-secondary-italic);
  font-weight: var(--ff-secondary-bold);
}
.about-text-container {
  display: inline-block;
  position: absolute;
  top: 33vh;
  right: 3px;
}
.about-text {
  text-align: right;
  padding-right: 4rem;
}
@media (max-width: 664px) {
  .about-text-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .about-text {
    text-align: center;
    padding: 0;
    font-size: 1.8rem;
  }
}
