.menu {
  position: relative;
  border: 3px solid var(--clr-secondary);
  border-radius: 0 0 var(--br-size) var(--br-size);
  width: 333px;
  height: 70vh;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}
.menu > ul {
  display: flex;
  flex-wrap: wrap;
  height: 84%;
  width: 90%;
  margin: 0 auto;
  margin-top: var(--size-300);
}
.menu > ul > li {
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
  box-sizing: border-box;
  transition: border-radius 0.5s ease;

}
.menu > ul > li:hover {
  outline: 3px solid var(--clr-secondary);
  border-radius: 1.8rem;
}
.menu > ul > li > a > div > div > svg {
  height: 110px;
}

/*----------------------*/
/* SVG MENU ICONS START */

/* GITHUB, PHONE ICONS */
.menu > ul > li > a > .menu-item__active > div > svg > * {
  stroke: var(--clr-main);
}
/* PRINT, INSTA, MAIL ICONS */
.menu > ul > li > a > .menu-item__active > div > svg > g > path {
  stroke: var(--clr-main);
}
.menu > ul > li > a > .menu-item__active > div > svg > g > circle {
  stroke: var(--clr-main);
}
/* HAND DRAWN ICON */
.menu > ul > .active > a > .menu-item__active > div > svg > g > path {
  stroke: var(--clr-main);
}
.menu > ul > .active > a > .menu-item__active > div > svg > g > g > path {
  stroke: var(--clr-main);
}

/* SVG MENU ICONS END */
/*--------------------*/

.menu > ul > .active {
  background-color: var(--clr-secondary);
  border-radius: var(--br-size);
  transition: background-color 0.5s ease;
}
.menu > ul > .active > a > div > div > svg > path {
  stroke: black;
}


.menu-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 333px;
  padding: 0.5rem;
  background-color: var(--clr-secondary);
  border-radius: 0 0 var(--br-size) var(--br-size);
  transition: border-radius 0.3s ease;
}
.menu-button {
  width: 2rem;
  cursor: pointer;
  margin: 0;
  padding: 0;
  transition: transform 0.3s ease;
}
.menu-button.rotate {
  transform: rotate(45deg);
}

.menu-footer {
  background-color: transparent;
  display: flex;
  position: absolute;
  font-size: var(--fs-700);
  font-weight: var(--fw-black);
  justify-content: center;
  align-items: center;
  text-align: center;
  outline: 3px solid var(--clr-secondary);
  border-radius: 0 0 var(--br-size) var(--br-size);
  width: 100%;
  height: var(--size-700);
  bottom: 0;
  transition: background-color 0.5s ease;
}
