.header-container {
  height: min-content;
}
@media (max-width: 375px) {
  .header-container {
    order: 1;
  }
}

.menu-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}
@media (max-width: 375px) {
  .menu-container {
    height: var(--size-1400);
    z-index: 9999;
  }
}

.menu {
  position: relative;
  border: 3px solid var(--clr-secondary);
  border-radius: 0 0 var(--br-size) var(--br-size);
  width: 333px;
  height: 70vh;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  opacity: 0;
  transition: transform 0.3s ease-in-out, opacity 0.1s ease;
  transform: translateY(-100%); /* Initial position off-screen */
  z-index: 9999;
}
@media (max-width: 375px) {
  .menu {
    width: 100%;
    height: 39vh;
    background-color: aqua;
  }
}

.menu.open {
  opacity: 1;
  transform: translateY(0); /* Slide the menu into view */
  background-color: var(--clr-main);
  z-index: 9999;
}
.menu > ul {
  display: flex;
  flex-wrap: wrap;
  height: 84%;
  width: 90%;
  margin: 0 auto;
  margin-top: var(--size-300);
}
@media (max-width: 375px) {
  .menu > ul {
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 90%;
    margin: 0 auto;
  }
}
.menu > ul > li {
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
  box-sizing: border-box;
  transition: border-radius 0.5s ease;
}
@media (max-width: 375px) {
  .menu > ul > li {
    flex-basis: 33%;
    height: min-content;
  }
  .menu-item {
    height: 100%;
  }
}
.menu > ul > li:hover {
  outline: 3px solid var(--clr-secondary);
  border-radius: 1.8rem;
}
.menu > ul > li > a > div > div > svg {
  height: 4rem;
}

/*----------------------*/
/* SVG MENU ICONS START */

/* GITHUB, PHONE ICONS */
.menu > ul > li > a > .menu-item__active > div > svg > * {
  stroke: var(--clr-main);
}
@media (max-width: 375px) {
  .menu > ul > li > a > .menu-item > div > svg > * {
    stroke-width: 5;
  }
}
/* PRINT, INSTA, MAIL ICONS */
.menu > ul > li > a > .menu-item__active > div > svg > g > path {
  stroke: var(--clr-main);
}
@media (max-width: 375px) {
  .menu > ul > li > a > .menu-item > div > svg > g > path {
    stroke-width: 5;
  }
}
.menu > ul > li > a > .menu-item__active > div > svg > g > circle {
  stroke: var(--clr-main);
}
@media (max-width: 375px) {
  .menu > ul > li > a > .menu-item > div > svg > g > circle {
    stroke-width: 5;
  }
}
/* HAND DRAWN ICON */
.menu > ul > .active > a > .menu-item__active > div > svg > g > path {
  stroke: var(--clr-main);
}
@media (max-width: 375px) {
  .menu > ul > .active > a > .menu-item__active > div > svg > g > path {
    stroke-width: 5;
  }
}
.menu > ul > .active > a > .menu-item__active > div > svg > g > g > path {
  stroke: var(--clr-main);
}

@media (max-width: 375px) {
  .menu > ul > li > a > .menu-item > div > svg {
    height: 4rem;
  }
  .menu > ul > .active > a > .menu-item__active > div > svg > g > path {
    stroke-width: 5;
  }
  .menu > ul > .active > a > .menu-item__active > div > svg > g > g > path {
    stroke-width: 5;
  }
}

/* SVG MENU ICONS END */
/*--------------------*/

.menu > ul > .active {
  background-color: var(--clr-secondary);
  border-radius: var(--br-size);
  transition: background-color 0.5s ease;
}
@media (max-width: 375px) {
  .menu > ul > .active {
    height: 6rem;
  }
}
.menu > ul > .active > a > div > div > svg > path {
  stroke: black;
}


.menu-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 333px;
  padding: 0.5rem;
  background-color: var(--clr-secondary);
  border-radius: 0 0 var(--br-size) var(--br-size);
  transition: border-radius 0.3s ease;
  z-index: 9990;
}
@media (max-width: 375px) {
  .menu-button-container {
    width: 100%;
  }
}
.menu-button {
  width: 2rem;
  cursor: pointer;
  margin: 0;
  padding: 0;
  transition: transform 0.3s ease;
  z-index: 9991;
}
.menu-button.rotate {
  transform: rotate(45deg);
}

.menu-footer {
  background-color: transparent;
  display: flex;
  position: absolute;
  font-size: var(--fs-700);
  font-weight: var(--fw-black);
  justify-content: center;
  align-items: center;
  text-align: center;
  outline: 3px solid var(--clr-secondary);
  border-radius: 0 0 var(--br-size) var(--br-size);
  width: 100%;
  height: var(--size-700);
  bottom: 0;
  transition: background-color 0.5s ease;
  z-index: 9989;
}
@media (max-width: 375px) {
  .menu-footer {
    height: var(--size-600);
  }
}
