.main-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    border: 3px solid var(--clr-secondary);
    height: 166px;
    border-radius: var(--br-size) var(--br-size) var(--br-size) 0;
    padding-right: 5%;
    overflow: hidden;
}

.logo-container {
    width: 330px;
    height: 100%;
    border-right: 3px solid var(--clr-secondary);
}

.logo {
    width: 100%;
}

.about-container {
    position: relative;
    display: inline-block;
    width: 180px;
    height: 100%;
}

.about {
    position: absolute;
    width: 95%;
    height: auto;
    top: -10%;
    stroke: var(--clr-secondary);
    stroke-width: 4;
    stroke-miterlimit: 10;
}
