.header-container {
  width: 100%;
}

.main-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: min-content;

  margin-bottom: 3rem;
}

.son-el-full {
  font-size: 2em;
}

.logo-container:hover {
  transform: scale(0.98);
  transition: transform 0.2s ease-in-out;
}

.about-container {
  position: relative;
  display: inline-block;
  width: 1rem;
  height: 100%;
}
@media (max-width: 930px) {
  .about-container {
    display: none;
  }
}

.about {
  width: 100%;
}
@media (max-width: 930px) {
  .about {
    display: none;
  }
}
