.main-component-container, .main-component-container.active {
    grid-area: 2 / 2 / 3 / 3;
    width: 100%;
}

@media (max-width: 664px) {
    .main-component-container {
        display: none;
    }
    .main-component-container.active {
        grid-area: unset;
        grid-row: 2;
        display: grid;
        /* Center contents */
        justify-content: center;
        align-items: center;
    }
}