.main-component-container {
  display: flex;
  justify-content: end;
  align-items: center;

  width: max-content;

  align-self: end;
}

@media (max-width: 930px) {
  .main-component-container {
    display: none;
  }
  .main-component-container.active {
    display: flex;
    
    justify-content: center;
    align-items: center;
    margin: 0;

    width: 100%;
  }
}