/* .image-gallery-container {
  position: absolute;
  top: var(--size-1150);
  z-index: 9999;
  margin-left: 345px;
} */
@media (max-width: 664px) {
  .image-gallery-container {
    position: relative;
    top: 0;
    margin-left: 0;
    display: grid;
    grid-template-columns: 1fr;
  }
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  padding: 0;
  list-style: none;
  max-width: 100%;
  max-height: calc(100vh - 190px);
  overflow-y: auto;
}
@media (max-width: 664px) {
  .image-gallery {
    display: grid;
    grid-template-columns: 1fr;
    overflow-y: unset;
    max-height: unset;
    justify-items: center;
  }
}

.image-gallery__image {
  max-width: var(--size-1450);
  border-radius: var(--br-size);
  margin: var(--size-250);
  transition: transform 0.12s ease-in 0s;
}
.image-gallery__image:hover {
  cursor: pointer;
  transform: scale(0.97);
}
@media (max-width: 664px) {
  .image-gallery__image {
    max-width: 100%;
  }
}

.image-gallery__image_outline {
  border: 3px solid white;
  border-radius: var(--br-size);
  max-width: var(--size-1450);
  margin: var(--size-300);
  transition: transform 0.12s ease-in 0s;
}
@media (max-width: 664px) {
  .image-gallery__image_outline {
    max-width: 100%;
  }
}
.image-gallery__image_outline:hover {
  cursor: pointer;
  transform: scale(0.97);
}
