.image-gallery-container {
  position: absolute;
  top: var(--size-1150);
  z-index: 9999;
  margin-left: 345px;
}
@media (max-width: 375px) {
  .image-gallery-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0;
  }
}

.image-gallery {
  display: inline-block;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  padding: 0;
  list-style: none;
  max-width: 100%;
  max-height: calc(100vh - 190px);
  overflow-y: auto;
}
@media (max-width: 375px) {
  .image-gallery {
    justify-content: center;
    align-items: center;
    overflow: unset;
  }
}

.image-gallery__image {
  max-width: var(--size-1450);
  border-radius: var(--br-size);
  margin: var(--size-300);
  transition: transform 0.12s ease-in 0s;
}
.image-gallery__image:hover {
  cursor: pointer;
  transform: scale(0.97);
}
@media (max-width: 375px) {
  .image-gallery__image {
    padding: 0.8rem;
    margin: 0;
    max-width: 100%;
  }
}

.image-gallery__image_outline {
  border: 3px solid white;
  border-radius: var(--br-size);
  max-width: var(--size-1450);
  margin: var(--size-300);
}

.image-viewer__close {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
